* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

form button {
  color: #fda085;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.5rem;
  border: none;
  font-size: 2rem;
  background: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

form button:hover {
  background: #fda085;
  color: white;
}
